{% extends 'base_quiz.html' %}
{% load static %}
{% block title %}Responder Quiz - Quiz4Fun{% endblock %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block quiz_content %}
<h2>{{ quiz.title }}</h2>
<p>{{ quiz.description }}</p>
<form method="post">
    {% csrf_token %}
    {% for question in questions %}
        <fieldset>
            <legend>{{ question.text }}</legend>
            {% if question.question_image %}
                <img src="{{ question.question_image.url }}" alt="Question Image" style="max-width:200px">
            {% endif %}
            {% for option in question.options.all %}
                <label>
                    <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}" required>
                    {{ option.text }}
                    {% if option.option_image %}
                        <img src="{{ option.option_image.url }}" alt="Option Image" style="max-width:100px">
                    {% endif %}
                </label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
    <button type="submit">Submit Quiz</button>
</form>
{% endblock %}
